.wrapper {
  position: relative;
}

.man {
  z-index: 2;
  position: relative;
  max-width: 600px;
}

.graffiti {
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 1;
}

.bubbleText {
  position: absolute;
  z-index: 3;
  color: var(--white);
  font-weight: bold;
  top: 145px;
  left: 90px;
  text-align: center;
}

.bubbleTextArabic {
  font-size: 2rem;
  top: 120px;
}

/* Responsive adjustments */
@media (max-width: 1100px) {
  .bubbleText {
    top: 140px;
    left: 90px;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .bubbleTextArabic {
    top: 140px;
    left: 90px;
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  .man {
    max-width: 480px;
  }

  .graffiti {
    right: 40px;
    top: 20px;
    max-width: 200px;
    max-height: 250px;
  }

  .bubbleText {
    top: 115px;
    left: 65px;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .bubbleTextArabic {
    font-size: 2rem;
    line-height: 50px;
    top: 80px;
    left: 70px;
  }
}

@media (max-width: 480px) {
  .man {
    max-width: 350px;
  }

  .graffiti {
    right: 60px;
    top: 20px;
    max-width: 200px;
    max-height: 180px;
  }

  .bubbleText {
    top: 80px;
    left: 50px;
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .bubbleTextArabic {
    font-size: 1rem;
    top: 80px;
    left: 60px;
  }
}
