@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-blue: #252161;
  --secondary-blue: #354f93;
  --subtitle-blue: #7e88a7;

  --primary-beige: #c49a6c;
  --secondary-beige: #ece2d8;

  --bg-white: #f2f4f8;
  --white: #ffffff;

  --primary-red: #8C1C13;
  --secondary-red: #A32219;

  --grey-accent: #3e3e3e;
  --footer-grey: #8f8da0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--bg-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-blue);
}

::selection {
  background-color: var(--primary-beige);
  color: var(--white);
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg-white);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button:disabled {
  opacity: 0.8;
}

button {
  transition: 0.3s ease-in-out;
  border: none;
}

.language-btn-container {
  display: flex;
  column-gap: 10px;
  height: 10px;
  padding: 10px;
}

.language-btn-container button {
  background-color: transparent;
  color: var(--primary-blue);
}

.language-btn-container button:hover {
  color: var(--primary-beige);
}
