.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 0;
  border-radius: 12px;
  min-height: 300px;
}

.left img {
  width: 300px;
  aspect-ratio: 3/4;
  border-radius: 8px;
  object-fit: cover;
}

.middle {
  flex: 1;
  max-width: 600px;
}

.middle h1 {
  font-size: 1.8rem;
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

.middle p {
  font-size: 1.2rem;
  color: var(--grey-accent);
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.middle strong {
  display: block;
  margin-top: 0.75rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--grey-accent);
}

.middle a {
  color: var(--primary-blue);
  font-weight: 600;
  text-decoration: none;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  gap: 24px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 24px 12px;
    justify-content: center;
    align-items: center;
  }
  .middle h1 {
    text-align: center;
  }
}
