.wrapper {
  position: relative;
  background: url("../../assets/images/globe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 72px 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  isolation: isolate; /* Ensures z-index stacking works correctly */
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #25216188; /* Black overlay with 50% opacity */
  z-index: -1; /* Put behind content */
}

.title,
.slogan {
  color: var(--white);
  position: relative; /* Ensures content stays above overlay */
  z-index: 1;
}

.title {
  font-size: 2.4rem;
  max-width: 500px;
}

.slogan {
  font-size: 1.4rem;
  max-width: 800px;
}

@media (max-width: 460px) {
  .wrapper {
    padding: 48px 24px;
  }
}
