.wrapper {
  position: relative;
  background: url("../../assets/images/globe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 72px 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  isolation: isolate; /* Ensures z-index stacking works correctly */
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #25216188;
  z-index: -1;
}

.title,
.slogan {
  color: var(--white);
  position: relative;
  z-index: 1;
}

.title {
  font-size: 2.4rem;
  max-width: 500px;
}

.slogan {
  font-size: 1.4rem;
  max-width: 800px;
}

@media (max-width: 480px) {
  .wrapper {
    padding: 48px 24px;
  }

  .title {
    font-size: 2rem;
    max-width: 400px;
  }

  .slogan {
    font-size: 1.2rem;
    max-width: 400px;
  }
}
