.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--bg-white);
  padding: 20px;
}

.container {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 10px;
  text-transform: capitalize;
}

.type {
  color: var(--primary-beige);
}

.classTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-blue);
  margin-bottom: 15px;
  font-style: italic;
}

.description {
  font-size: 16px;
  color: var(--grey-accent);
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

.scope {
  color: var(--primary-beige);
  background-color: var(--white);
  margin: 12px 0px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: right;
}

.scope:hover {
  color: var(--secondary-blue);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.upload {
  background: var(--primary-beige);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.upload:hover {
  background: var(--secondary-beige);
  color: var(--grey-accent);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.back {
  color: var(--primary-blue);
  background-color: var(--white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back:hover {
  color: var(--secondary-blue);
}

.fileInput {
  display: none; /* Hide the default file input */
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

.fileInputLabel:hover {
  background-color: var(--secondary-blue);
}

.fileInputLabel:active {
  background-color: var(--primary-blue);
}

.uploadedFile {
  margin-top: 10px;
  color: var(--grey-accent);
  font-size: 14px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 100px;
  }
}
