.wrapper {
  position: absolute;
  width: 350px;
  background-color: var(--bg-white);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 10;
  height: 70dvh;
  overflow-y: auto;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.toggleBtn {
  position: absolute;
  top: 30%;
  left: 0px;
  transform: translateY(-50%);
  padding: 0px 4px;
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--primary-beige);
  z-index: 100;
}

.arabicToggle {
  left: initial;
  right: 0px;
}

.sidePanelContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;
}

.title {
  color: var(--primary-blue);
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  align-self: center;
}

.modulesList {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 20px 0;
  width: 100%;
}

.getCertificate {
  position: absolute;
  align-self: flex-end;
  bottom: 10px;
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.getCertificate:hover {
  background-color: var(--secondary-blue);
}

.cohortClosedMessage {
  margin: auto auto;
  color: var(--primary-beige);
  text-align: center;
}
