.wrapper {
    padding: 12px 24px;
}

.classTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-blue);
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: var(--primary-blue);
  font-weight: bold;
}

.duration {
  font-size: 1rem;
  color: var(--accent-grey);
  font-weight: bold;
  text-align: end;
}
