.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-white);
}

.phase1 {
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

.emailForm {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-accent);
  margin-bottom: 0.5rem;
  text-align: left;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--secondary-blue);
  border-radius: 5px;
  font-size: 1rem;
  background: var(--secondary-beige);
  color: var(--grey-accent);
  outline: none;
  transition: border 0.3s ease;
}

.formInput:focus {
  border-color: var(--primary-blue);
}

.btnContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.submit {
  background: var(--primary-blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover {
  background: var(--secondary-blue);
}

.submit:disabled {
  background: var(--grey-accent);
  cursor: not-allowed;
}

.back {
  background: var(--primary-beige);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.back:hover {
  background: var(--secondary-beige);
  color: var(--grey-accent);
}

.error {
  color: var(--primary-beige);
  font-weight: bold;
  margin-top: 10px;
}

.otpContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 0.5rem;
}

.otpInput {
  width: 45px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid var(--secondary-blue);
  border-radius: 8px;
  background-color: var(--secondary-beige);
  color: var(--grey-accent);
  outline: none;
  transition: border-color 0.3s ease;
  direction: ltr !important;
}

.otpInput:focus {
  border-color: var(--primary-blue);
}

.subTitle {
  font-size: 1rem;
  color: var(--secondary-blue);
  text-align: left;
  margin: 10px 0px;
  padding: 8px;
  background-color: var(--bg-white);
  border-radius: 5px;
  border-left: 4px solid var(--primary-blue);
}
