.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modalActions {
  display: flex;
  justify-content: space-around;
}

.confirmButton,
.cancelButton {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 100px;
}

.confirmButton {
  background-color: var(--primary-blue);
  color: white;
}

.cancelButton {
  background-color: var(--primary-beige);
  color: white;
}

.confirmButton:hover {
  background-color: var(--secondary-blue);
}

.cancelButton:hover {
  background-color: var(--secondary-beige);
  color: var(--primary-blue);
}
