.wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.blue {
  width: 70%;
  height: 100px;
  background-color: var(--primary-blue);
}

.beige {
  width: 30%;
  height: 100px;
  background-color: var(--primary-beige);
}
