.wrapper {
  padding: 2rem;
  background-color: var(--bg-white);
  font-family: "Poppins", sans-serif;
}

.title {
  color: var(--primary-blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: var(--secondary-blue);
  color: var(--white);
}

.table tr:hover {
  background-color: var(--secondary-beige);
}

.roleSelect {
  padding: 0.5rem;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  background-color: var(--white);
  color: var(--primary-blue);
  font-weight: 500;
}

.searchInput {
  width: 300px;
  padding: 12px 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-size: 1rem;
}
